external/
temp/
scons/
datastore/
datastore
temp
*.sconsign.dblite
*.pyc
*.lyx~
*.lyx#
*.lyx.emergency
*.Rhistory
*.Rapp.history
*.DS_Store
*.aux
*.fls
*.lof
*.lot
*.nav
*.snm
*.toc
*.out
*.svn
*.ipynb
*.synctex.gz
*.bbl
*.blg
*.asv
*converted-to.pdf
*texput.log
*.synctex(busy)
